<ul class="nav">
  <li><%= link_to 'Home', root_path -%></li>
  <li><%= link_to 'Record Meal', new_meal_path -%></li>
  <li><%= link_to 'Record Weight', new_reading_path -%></li>
  <li><%= link_to 'Meals', meals_path -%></li>
  <li><%= link_to 'Meals/Day', meals_path( :day => true ) -%></li>
  <li><%= link_to 'Readings', readings_path -%></li>
</ul>
